.services-submenu {
  width: auto;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  padding: 0;
}

.services-submenu li {
  background-color: #101e2e;
  cursor: pointer;
}

.services-submenu a {
  font-size: 16px;
  font-weight: 500;
}

.services-submenu li a:hover {
  border-radius: 0;
  background: #51bab3;
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  color: #ffffff;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
