.swal-container {
  z-index: 3000;
}

.swal2-icon {
  margin-top: 20px;
  margin-bottom: 0;
}

.swal2-html-container {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 25px 25px;
}

.swal2-actions {
  display: flex;
  gap: 20px;
  margin: 0;
}

.swal2-styled {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}
